@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  ::-webkit-scrollbar {
    display: none;
  }
}

.circular-clip {
  clip: rect(0, 100px, 200px, 0);
}

.transform-circle {
  transform: rotate(190deg);
}

.transform-text {
  transform: translate(-50%, -50%);
}

.h-90 {
  height: 90%;
}
.h-55 {
  height: 52.5%;
}

.h-01 {
  height: 10%;
}

.h-041 {
  height: 41rem;
}

.h-038 {
  height: 38.5rem;
}

.w-90 {
  width: 98%;
}

.main_h{
  height: calc(100vh - 5rem);
}

.main_h_inner{
  height: calc(100% - 4rem);
}

.main_h_in{
  height: calc(100% - 10rem);
}

